::-webkit-scrollbar {
    width: 0.01px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity: 0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    opacity: 0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    opacity: 0;
  }